
.form_email{

    display: flex;
    justify-content: center;
    margin-top: 120px;
    

}

#Email_Send{
    margin: 10px;
}
#Email_Varify{
    margin: 10px;
}

.portal_link_container{
    display: flex;
    justify-content:space-around;
    margin-bottom: 15px; 
}
.vadactro_portal_button{
    display:flex;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 40px;
    height:100px;
    width:100px;

    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    border-radius: 15px;
    border: 1px;
    border-style: solid;
    border-color:rgb(56, 56, 56);
    background-color: #00a2ff;

    transition: border-radius 0.5s ease, background-color 1s ease-in-out, padding-top 0.5s ease;
  
}
      


.vadactro_portal_button:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    
    border-radius: 10px;
    padding-top: 25px;
    
    background-color:#007be0;
    
    
    
    
}
.vadactro_portal_button:link { text-decoration: none; }


.vadactro_portal_button:visited { text-decoration: none; }


.vadactro_portal_button:active { text-decoration: none; }